<nav class="navbar navbar-default navbar-left navbar-fixed-side">
<div class="container"  role="navigation">
    <div class="navbar-header "><h4 class="navbar-brand success">functions</h4>
      <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
    <div class="sidebar-nav navbar-collapse collapse " aria-expanded="true">
        <ul class="nav navbar-nav" id="side-menu">
            
            
           <li>
                <a href="./listArticle" > Article list</a>
            </li>
            <li>
                <a href="./CreateArticle" > Create Article</a>                                                   
            </li>
            <li>
                <a href="./CreateClient"  > Create Client</a>                                                     
            </li>
            <li>
                <a href="./ListeClient"  >Clients List</a>                                                     
            </li>
            
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>