<nav class="navbar navbar-default navbar-fixed-top nav-pills nav-stacked nav-justified">
        <div class="container-fluid">
            <div class="navbar-header "><a href="#" class="navbar-brand navbar-link ">GesRep</a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse nav-pills nav-stacked nav-justified" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#">Create reparation demand </a></li>
                    <li role="presentation"><a href="#">Create back reparation demand </a></li>
                    <li role="presentation"><a href="#">Create Devis</a></li>
                    <li role="presentation"><a href="#">payment</a></li>
                </ul>
                <button class="btn btn-primary navbar-btn navbar-right navbar-nav" type="button"><strong>SIGN OUT</strong></button>
            
            </div>
        </div>
</nav>